body {
  background-color: lightgrey;
  font-family: Helvetica, sans-serif;
}
h1 {
  color: black;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
h2 {
  color: black;
  font-family: Helvetica, sans-serif;
}

h3 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  height: 20px;
}

.oscillatorContainer {
  width: 50%;
  margin-left: 10%;
  background-color: white;
  display: block;
}

.oscillator {
  float: left;
  background-color: white;
  width: 25%;
  /*border-style: groove;*/
  /*border-right-width: thin;*/
  /*border-left-width: 0;*/
}

.masterControlsContainer {
  margin-right: 10%;
  margin-left: 60%;
  background-color: white;
  width: 30%;
  display: block;
}

.masterControls {
  background-color: white;
  padding-top: 50px;
}

.container {
  margin: auto;
  width: 80%;
  background-color: white;
}

.titleHeading {
  margin: auto;
  width: 80%;
  background-color: white;
  padding-bottom: 1px;
}

.headings {
  margin: auto;
  width: 80%;
  background-color: white;
  height: min-content;
}

#speechInputButton {
  font-size: 37px;
  display: block;
  margin: auto;
}

#speechOutputAsText {
  margin: auto;
  display: block;
}

#resetButton {
  display: block;
  float: none;
}

#oscHeading {
  width: 55%;
  height: min-content;
  display: inline-block;
  margin-right: 24%;
  position: absolute;
}

#mastHeading {
  margin-left: 62%;
  width: 38%;
  display: flex;
}
